{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">Quizzess</a>
            <nav class="nav">
                <a href="/quiz/osnovy-python" class="nav__link">Основы пайтон</a>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
</body>
</html>